body {
  margin: 0;
  overflow: hidden;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.grid-item {
  aspect-ratio: 1/1;
  background-color: #333;
}
